#header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(29,26,24);
    padding: 0px 5%;
}
#logo{
    font-size:  1.5 rem;
    font-weight: bold;
    color:rgb(238,164,80);
    text-transform: uppercase;
}
a{
    text-decoration: none;
}

#header nav a {
    color: rgb(185, 131, 31);
    font-size: 1.25rem;
}

#header nav a:hover {
    color: yellow;
}

ul {
    display: flex;
    padding: 10px;
}

ul li a {
    padding: 10px;
}

body {
    margin: 0;
}

#boc {
    display: flex;
}

img {
    height: 15rem;
    width: 100%;
}